<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.NewsInfoMapper">

    <!-- 分页查询动态信息 -->
    <select id="getNewsInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ni.id,
        ni.title,
        ni.content,
        ni.date,
        tu.USERNAME AS userName
        FROM
        news_info ni
        LEFT JOIN t_user tu ON (tu.USER_ID = ni.publisher)
        WHERE 1 = 1
        <if test="newsInfo.title != null and newsInfo.title != ''">
            AND ni.title LIKE CONCAT('%',#{newsInfo.title},'%')
        </if>
        <if test="newsInfo.content != null and newsInfo.content != ''">
            AND ni.content LIKE CONCAT('%',#{newsInfo.content},'%')
        </if>
        ORDER BY ni.date DESC
    </select>
</mapper>
