<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.SelectionInfoMapper">

    <!-- 分页查询选课信息 -->
    <select id="selectionByPage" resultType="java.util.LinkedHashMap">
        SELECT
        sei.id,
        sei.create_time AS createTime,
        si.name,
        si.student_id AS studentId,
        si.discipline,
        ci.course_nature AS courseNature,
        ci.course_name AS courseName
        FROM
        selection_info sei
        LEFT JOIN student_info si ON ( si.id = sei.student_id )
        LEFT JOIN course_info ci ON ( ci.id = sei.course_id )
        WHERE
        1 = 1
        <if test="selectionInfo.studentId != null and selectionInfo.studentId != ''">
            AND sei.student_id = #{selectionInfo.studentId}
        </if>
        <if test="selectionInfo.studentName != null and selectionInfo.studentName != ''">
            AND si.name LIKE CONCAT('%',#{selectionInfo.studentName},'%')
        </if>
        <if test="selectionInfo.studentNum != null and selectionInfo.studentNum != ''">
            AND ni.content LIKE CONCAT('%',#{selectionInfo.studentNum},'%')
        </if>
        <if test="selectionInfo.courseNature != null and selectionInfo.courseNature != ''">
            AND ci.course_nature LIKE CONCAT('%',#{selectionInfo.courseNature},'%')
        </if>
        <if test="selectionInfo.courseName != null and selectionInfo.courseName != ''">
            AND ci.course_name LIKE CONCAT('%',#{selectionInfo.courseName},'%')
        </if>
    </select>
</mapper>
