<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.TeacherInfoMapper">

    <!-- 分页查询教师信息 -->
    <select id="teacherInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ti.id,
        ti.`code`,
        ti.`name`,
        ti.job_number AS jobNumber,
        ti.sex,
        ti.create_time AS createTime,
        tu.USERNAME AS username,
        tu.STATUS AS STATUS,
        tu.LAST_LOGIN_TIME AS lastTime
        FROM
        teacher_info ti
        LEFT JOIN t_user tu ON ( tu.USER_ID = ti.admin_id )
        WHERE
        1 = 1
        <if test="teacherInfo.name != null and teacherInfo.name != ''">
            AND ti.name LIKE CONCAT('%',#{teacherInfo.name},'%')
        </if>
        <if test="teacherInfo.jobNumber != null and teacherInfo.jobNumber != ''">
            AND ti.job_number LIKE CONCAT('%',#{teacherInfo.jobNumber},'%')
        </if>
        <if test="teacherInfo.sex != null">
            AND ti.sex = #{teacherInfo.sex}
        </if>
        ORDER BY ti.create_time DESC
    </select>

    <!-- 根据教员获取选择的课程 -->
    <select id="selectionByTeacher" resultType="java.util.LinkedHashMap">
       SELECT
        sei.create_time AS taskTime,
        ci.course_nature AS courseNature,
        ci.course_name AS courseName,
        ci.start_time AS startTime,
        ci.end_time AS endTime,
        ci.gpa,
        ci.credit,
        ci.lessons_num AS lessonsNum,
        ci.classroom,
        count( ci.id ) AS studentNum
        FROM
        course_info ci
        LEFT JOIN selection_info sei ON ( ci.id = sei.course_id )
        LEFT JOIN teacher_info ti ON ( ti.id = ci.teacher_id )
        WHERE
        ti.id = #{ teacherId }
        GROUP BY
        ci.id
    </select>
</mapper>
